
<div id="menu-principal" style="background-color:white;">
    <div class="opcion-menu-principal" (click)="addTask()">
        <div class="contenido">
            <img src="assets/img/iconos/agregar_tareas.png">
            <h2>Agregar Tarea</h2>
        </div>
    </div>
    <div class="opcion-menu-principal" (click)="myTasks()">
        <div class="contenido">
            <img src="assets/img/iconos/mis_tareas.png">
            <h2>Mis Tareas</h2>
        </div>
    </div>
    <div *ngIf="isAdmin" class="opcion-menu-principal" (click)="activeTask()">
        <div class="contenido">
            <img src="assets/img/iconos/tareas_activas.png">
            <h2>Tareas Activas</h2>
        </div>
    </div>
    <div *ngIf="isAdmin" class="opcion-menu-principal" (click)="tasksHistory()">
        <div class="contenido">
            <img src="assets/img/iconos/historial_tareas.png">
            <h2>Historial de Tareas</h2>
        </div>
    </div>
</div>