<div id="page" class="page-content">

<div id="Home" class="Home">
  <div class="row">
      <div class="top-bar">
         <p class="titulo-bar"> Titulo Aca</p>
          <button class="boton-sidebar" onclick="openSidebar()">☰</button>
      </div>


      <div id="content-app">
          <!-- AQUI VA EL CONTENIDO DENTRO DEL APP -->
          <div id="menu-principal">
                  <div class="opcion-menu-principal" onclick="addtarea()">
                      <div class="contenido">
                          <img src="assets/img/iconos/agregar_tareas.png">
                          <h2>Agregar Tarea</h2>
                      </div>
                  </div>
                  <div class="opcion-menu-principal" onclick="loading()">
                      <div class="contenido">
                          <img src="assets/img/iconos/mis_tareas.png">
                          <h2>Mis Tarea</h2>
                      </div>
                  </div>
                  <div class="opcion-menu-principal">
                      <div class="contenido">
                          <img src="assets/img/iconos/tareas_activas.png">
                          <h2>Tareas Activas</h2>
                      </div>
                  </div>
                  <div class="opcion-menu-principal" >
                      <div class="contenido">
                          <img src="assets/img/iconos/historial_tareas.png">
                          <h2>Historial de Tareas</h2>
                      </div>
                  </div>
      </div>
          <div id="crear-tarea">
              <div class="container-box">
                  <label>Nombre de Tarea:</label>
                   <input class="input-data" type="text" required id="nombre_tarea" placeholder="Ejemplo Tarea">
              </div>
              <div class="container-box">
                  <label>Descripción:</label>
                  <textarea class="input-data" required id="descripcion_tarea" placeholder="Ejemplo descripcion">
                  </textarea>
              </div>
              <div class="container-box" onclick="asignar_personal()">
                  <label>Asignar a :</label>
                  <div class="header-sidebar">
                      <div class="imagen-sidebar">
                          <img  src="assets/img/raffa.jpg">
                      </div>

                      <div>
                          <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                          <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                      </div>
                  </div>
                  <div class="header-sidebar">
                      <div class="imagen-sidebar">
                          <img  src="assets/img/raffa.jpg">
                      </div>

                      <div>
                          <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                          <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                      </div>
                  </div>
              </div>
              <div class="botones-box">
                  <input type="button" id="button-volver" class="button-doble back-button" value="VOLVER">
                  <input type="button" id="button-crear" class="button-doble success-botton" value="CREAR ACTIVIDAD">
              </div>
          </div>
          <div id="asignar-personal">
              <div class="container-box">
                  <label>Selecionar empleados:</label>
                  <div class=" max-select">
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                      <div class="header-sidebar personal-select">
                          <div class="imagen-sidebar">
                              <img  src="assets/img/raffa.jpg">
                          </div>

                          <div>
                              <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                              <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
                          </div>
                      </div>
                  </div>

              </div>


          </div>

          <div id="loading" onclick="unloading()">
              <div class="loading-content">
                  <img src="assets/img/iconos/loading.png">
                  <div class="loading-text">Cargando</div>
              </div>
          </div>

      </div>
      <div class='fondoTransparente' id="fondo-sidebar" onclick="closeSidebar()">
      </div>

      <div class="my-sidebar" id="my-sidebar">

          <div class="header-sidebar">
              <div class="imagen-sidebar">
                  <img  src="assets/img/raffa.jpg">
              </div>

              <div>
                  <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">Raffaele Ranaldo</p>
                  <p style="margin-top: -16px;font-size: 13px;">ranaldoraffaele@gmail.com</p>
              </div>
          </div>
          <hr>
          <div class="body-sidebar">
              <div class="opcion-sidebar">
                  <div class="icon-sidebar">
                      <img  src="assets/img/iconos/offpage-iconhome.png">
                  </div>

                  <div class="text-opcion">
                      Inicio
                  </div>
              </div>
              <div class="opcion-sidebar">
                  <div class="icon-sidebar">
                      <img   src="assets/img/iconos/offpage-iconcontru.png">
                  </div>

                  <div class="text-opcion">
                      Mis Tareas
                  </div>
              </div>
              <hr>
              <div class="opcion-sidebar">
                  <div class="icon-sidebar">
                      <img  src="assets/img/iconos/offpage-iconsetting.png">
                  </div>

                  <div class="text-opcion">
                      Ajustes
                  </div>
              </div>
              <div class="opcion-sidebar">
                  <div class="icon-sidebar">
                      <img  src="assets/img/iconos/offpage-iconlogout.png">
                  </div>

                  <div class="text-opcion">
                      Logout
                  </div>
              </div>

              <div class="footer-sidebar" onclick="closeSidebar()">
                  <a>
                      Cerrar
                  </a>
                  <img style="float:right;height:20px;" src="assets/img/iconos/icon-direct.png">
              </div>


          </div>

      </div>


  </div>
</div>
</div>