
<div style="background-color: white;">

<div id="crear-tarea" class="outer-container bg-blue">
    <div class="container-box">
        <label>Nombre de Tarea:</label>
         <input class="input-data" type="text" required id="nombre_tarea" placeholder="Ejemplo Tarea" [(ngModel)]="tarea.nombre">
    </div>
    <div class="container-box">
        <label>Descripción:</label>
        <textarea 
            class="input-data" 
            required id="descripcion_tarea" 
            placeholder="Ejemplo descripcion" 
            [(ngModel)]="tarea.descripcion"
            onkeyup="textAreaAdjust(this)">
        </textarea>
    </div>
    <div class="container-box assing" onclick="asignar_personal()">
        <label>Asignar a :</label>

        <div *ngFor="let user of selectedOnes" class="header-sidebar" to-left>
            <div class="imagen-sidebar">
                    <img  [attr.src]="user.img">
            </div>

            <div>
                <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">{{ user.name }}</p>
                <p style="margin-top: -16px;font-size: 13px;">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="botones-box">
        <input type="button" id="button-volver" class="button-doble back-button button-left" value="VOLVER" (click)="volver()">
        <input type="button" id="button-crear" class="button-doble success-botton button-right" value="CREAR ACTIVIDAD" (click)="crearTask()">
    </div>
</div>

<div id="asignar-personal" class="background">
    <div class="container-box">
        <label>
            <span style="text-align:left;">Selecionar empleados:</span>    
            <span class="x-button" onclick="closeAsignarPersonal()">X</span>    
        </label>
        <div class=" max-select" to-left>
            <div *ngFor="let user of testArray; let i = index;" class="header-sidebar personal-select" (click)="addSelected(user, i)" onclick="clickPersonal(this)">
                <div class="imagen-sidebar">
                    <img  [attr.src]="user.img">
                </div>

                <div>
                    <p style="margin-top: 18px; font-size: 18px;font-weight: bold;">{{ user.name }}</p>
                    <p style="margin-top: -16px;font-size: 13px;">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tarea-creada" class="background">
    <div class="container-box">
        <label>
            <span class="x-button" onclick="closeTareaCreada()">X</span>    
        </label>
        <span class="inner-title">
            Tarea creada exitosamente!
        </span>
    </div>
</div>


<div id="tarea-error" class="background" style="display:none;">
    <div class="container-box">
        <label>
            <span class="x-button" onclick="closeHaOcurridoUnError()">X</span>    
        </label>
        <span class="inner-title">
            Por favor complete los datos del formulario para poder realizar esta acción
        </span>
    </div>
</div>

</div>