<div id="splash" class="seccion"></div>

<div id="login" class="Login" style="top: 0;">
<div class="row login-image">
    <img src="assets/img/icon-carrito.png">
</div>
<div class="row Login-Superior">
    <p>
        <strong>SGP</strong>
        <br>
        Sistema de gestión de personal
    </p>
</div>
<div class="row" style="margin: 0 10% 0 10%;">
    <div class="login-entry">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>            
            <label id="error-login" class="mensaje-error-login">Error con los datos suministrados</label>
            <input type="text" id="user-login" class="input-login" placeholder="Usuario" style="margin-bottom: 5px;" onfocus="hideError()" formControlName="username">
            <input type="password" id="user-password" class="input-login" placeholder="Contraseña" onfocus="hideError()" formControlName="password">
            <input type="submit" id="button-login" class="button-login" value="INGRESAR">
        </form>
    </div>
    <a>
        <p>
            Recuperar Contraseña?
        </p>
    </a>
</div>
</div>