<div class='fondoTransparente' id="fondo-sidebar" onclick="closeSidebar()"></div>

<div class="my-sidebar" id="my-sidebar">
    <div class="header-sidebar">
        <div class="imagen-sidebar">
            <img id="user-image">
        </div>

        <div>
            <p id="user-name" style="margin-top: 18px; font-size: 18px;font-weight: bold;"></p>
            <p id="user-email" style="margin-top: -16px;font-size: 13px;"></p>
        </div>
    </div>
    <hr>
    <div class="body-sidebar">
        <div class="opcion-sidebar">
            <div class="icon-sidebar">
                <img  src="assets/img/iconos/offpage-iconhome.png">
            </div>

            <div class="text-opcion" id="goto-inicio"> Inicio </div>
        </div>
        <div class="opcion-sidebar">
            <div class="icon-sidebar">
                <img src="assets/img/iconos/offpage-iconcontru.png">
            </div>

            <div class="text-opcion" id="goto-mis-tareas">
                Mis Tareas
            </div>
        </div>

        <div class="opcion-sidebar">
            <div class="icon-sidebar">
                <img  src="assets/img/iconos/offpage-iconlogout.png">
            </div>

            <div class="text-opcion" id="goto-finalizar">
                Finalizar jornada
            </div>
        </div>
        <hr>

        <div class="opcion-sidebar">
            <div class="icon-sidebar">
                <img  src="assets/img/iconos/offpage-iconsetting.png">
            </div>

            <div class="text-opcion">
                Ajustes
            </div>
        </div>

        <div class="opcion-sidebar">
            <div class="icon-sidebar">
                <img  src="assets/img/iconos/offpage-iconlogout.png">
            </div>

            <div class="text-opcion" id="goto-logout">
                Logout
            </div>
        </div>

        <div class="footer-sidebar" onclick="closeSidebar()">
            <a style="color:white;">Cerrar</a>
            <img style="float:right;height:20px;" src="assets/img/iconos/icon-direct.png">
        </div>
    </div>
</div>